<div class="products-section">
  <div class="products-index">
    <div class="product-card overlay white" style="background-image: url(<%=@recipe.photo%>);">
      <div class="product-card-content">
        <h5 class="product-card-title"><%= @recipe.producer.name %>'s<br><%= @recipe.title%></h5>
          <p class="product-card-price"> 2 hours</p>
      </div>
    </div>
  </div>
<div class="products-section">
