
            <%# link_to "Show", product_path(product.id),:style=> 'color:blue'%>

                <% recipe = @recipe %>
                <div class="recipe-card overlay white" style="background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0)
    ), url(<%=recipe.photo%>); background-size: cover; background-position: center;">
                  <div class="recipe-card-content">
                    <h5 class="recipe-card-title"><div><%= recipe.producer.name %>'s<br><%= recipe.title%></div></h5>
                  </div>
                  <button class="info-button button5">
                    <%= link_to "i", recipe_path(recipe.id) %>
                  </button>
                </div>


