
                <div class="product-card overlay white" style="background-image: url(<%=@recipe.photo%>);">
                  <div class="product-card-content">
                    <h5 class="product-card-title"><%= @recipe.producer.name %>'s<br><%= @recipe.title%></h5>
                    <p class="product-card-price"> 2 hours</p>
                  </div>
                  </div>



<!--     t.bigint "producer_id"
    t.string "title"
    t.text "description"
    t.text "instructions"
    t.string "photo"
    t.integer "difficulty" -->
