
<div class="banner">
  <div class="banner-content">
    <h2 class="home-title">The Farmer's Market.<br>Delivered to your door.</h2>
    <p class="principal-para">Clean, honest food. Made by locals you love and brands you believe in. Home delivered by a family-owned company that’s dedicated to improving your home and community.</p>

    <%= link_to "shop now", products_path, class: "homepage-button" %>
  </div>
</div>

<div class="section" style="background-color: #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <p class="section-para">Harvest helps your family free up time, shop wisely, and eat healthfully while supporting small businesses and local food banks.</p>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Convenient Home Delivery</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Convenient Home Delivery</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Convenient Home Delivery</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Convenient Home Delivery</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
    </div>
  </div>
</div>

<div class="section" style="background-color: white">
  <div class="section-content">
    <h2 class="home-title">Get Started</h2>
    <p class="section-para">Let's find your local stall and make sure you're within our delivery area.</p>


    <%= form_tag root_path, method: :get do %>
      <input id="insert" class="postcode-input-field" name="address" type="text" placeholder="check postcode"/>
      <input type="submit" value="check" class="homepage-button homepage-submit">
    <% end %>

  </div>
</div>

<% if @check %>
  <p>YAY</p>
<% else  %>
  <p>NOOOO</p>
<% end %>


<button onclick="getLocation()" style="display:none"></button>

<script>
function GetLatlong()
    {
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById('input').value;

        geocoder.geocode({ 'address': address }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();

            }
        });
</script>







<!-- <script>
var x = document.getElementById("insert");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
    }
}

function showPosition(position) {
   x.value = position.coords.latitude + ", " + position.coords.longitude %>
}

</script> -->

