<!-- #empty page
#send email
 -->
<div id="confirmation_card">

  <div id="confirmation_headline">
    <h2>Thanks for shopping with harvest.</h2>
  </div>

  <div id="confirmation-image-center">
    <div id="confirmation-image" style="background-image: url('https://instagram.fmad3-1.fna.fbcdn.net/vp/313e7eb53c0c2aeefdb6226de1bc3cdb/5B37408C/t51.2885-15/e35/26186842_389010881539000_2585585744009494528_n.jpg')";>
    </div>
  </div>


  <div id="confirmation_text">
    <p>Your order of Amount: <%= humanized_money_with_symbol(@order.amount) %> will be delivered to you soon. Check your emails to stay updated.</p>
  </div>



  <!-- <div id="confirmation_quote">
    <p>To keep the body in good health is a duty, otherwise we shall not be able to keep our mind strong and clear. - Gautama Buddha</p>
  </div> -->
  <div id="confirmation_button">
    <%= link_to "shop more", products_path, class:"homepage-button homepage-submit" %>
  </div>
</div>



<!-- button to continue shopping -->
