<!-- #empty page
#send email
 -->
<h1>Thanks for shopping</h1>
<h1>Your total cost was:</h1>

<span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>

<!-- button to continue shopping -->
