/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

#check_card button {
  width: 20px;
  padding-bottom: 20px;
  margin-left: 240px;
  margin-top: -5px;
}
