#confirmation_card{
  background: #fff;
  border-radius: 2px;

  position: relative;
  width: 400px;
  color: #524F4C;

  left: 33%;
  margin-top: 130px;
  margin-bottom: 30px;


  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
  background-color: #white!important;
}

#confirmation_headline {
  padding: 20px;
  text-align: center;

}

#confirmation_text {
  padding: 20px 20px 0px 20px;
}

#confirmation_button {
  padding: 20px 20px 40px 20px;
  text-align: center;
}

#confirmation_quote {
  padding: 20px;
  text-align: center;
  font-style: italic;
}

#confirmation-image{
  height: 150px;
  border-radius: 50%;
  width: 150px;
  background-size: cover;
  background-position: center center;
}

#confirmation-image-center{
  margin-left: 125px;
}
