p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 15px;
  color: #524F4C;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}



