p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}



