input:focus {
    outline:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border: none;
  border-bottom: 1.5px solid #eaeaea;
  color: #524F4C;
  padding-bottom: 2px;
  margin-bottom: -2px;
}

input[type=number], input[type=text], input[type=email] {
  border: none;
  border-bottom: 1.5px solid #eaeaea;
  color: #524F4C;
  padding-bottom: 2px;
  margin-bottom: -2px;
}

input[type=number]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder {
  color: #dedede;
  font-weight: 500;
}
