/* Main navbar */

.navbar-harvest {
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-harvest-right {

}

.logo-harvest {
  font-family: 'Baskerville';
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  color: #524F4C;
  text-decoration: none;
}

.logo-harvest:hover {
  text-decoration: none;
  color: #524F4C;
  opacity: 0.7
}

.navbar-harvest-link {
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #524F4C;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-harvest-link:hover {
  text-decoration: none;
  color: #524F4C;
  opacity: 0.7
}

