.product-card {
  background-image: asset-url("product-image.jpg");
  border-radius: 4px;
  height: 250px;
  background-size: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 1 1 180px;
  position: relative;
  flex-basis: 150px;
  max-width: 180px;
  opacity: 1;
}

.overlay {
  position: relative;
  transition: .5s ease;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
}

.white:before {
  background-color: rgba(255,255,255,0.5);
}


.product-card-content {
  position: absolute;
  top: 15px;
  left: 15px;
}

.product-card-title {
  margin: 0px;
  font-family: Baskrville;
  font-style: italic;
  font-weight: 600;
  letter-spacing: inherit;
  font-size: 15px;
  line-height: 15px;
  color: #524F4C;
  margin-bottom: 5px;
}

.product-card-price {
  margin-bottom: 0px;
  color:#FFB96E;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 12px;
}

// ------------------ ADD TO CART BUTTON EFFECT (ON HOVER) ------------------

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #FFB96E;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
}

.add-to-cart-btn:focus {
  outline: none;
}

.plus-minus-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty {
  font-size: 15px;
  color: #524F4C;
  opacity: 0.6;
  margin: 0px;
  font-weight: 400;
}

.add-controls {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 20px);
  margin: 10px;
  display: none;
}

.product-card:hover .add-controls {
  display:block;
}



