.simple_form.new_user{
  padding: 20px;
  background-color: transparent;

}

.form_control.string.email.optional {
  border-bottom: solid black;
}


div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.signup-form {
  margin-top: 160px;
  margin-bottom: 80px;
}

.signup-headline {
  font-family: Montserrat;
  text-align: center;
  padding-top: 20px;
}

.form-actions-login {
  width: 100%;
}

.btn {
  width: 50%;
  border: none;
}

.form-actions-signup {
  width: 100%;
  text-decoration: none;
  text-align: center;
}
