.simple_form.new_user{
  padding: 20px;
  background-color: transparent;

}

.form_control.string.email.optional {
  border-bottom: solid black;
}


div.boolean, .simple_form input[type='submit'] {
  margin-left: 60px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.signup-form {
  margin-top: 150px;
  margin-bottom: 80px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
}

.signup-headline {
  font-family: Montserrat;
  text-align: center;
  padding-top: 20px;
}

.form-actions-login {
  width: 100%;
}

.btn {
  width: 60%;
  border: none;
}
