<h1>Products</h1>

<h4>Today's fresh products include:</h4>
<ul>
<% @products.each do |product| %>
  <li><%= product.producer.name %>'s <%= product.name %>. Add to basket <%= link_to "Add to Basket", product_order_lines_path(product.id),:style=> 'color:#FF6B6B', method: :post %></li>
<% end %>
</ul>

